nav {
  background-color: rgb(171, 241, 64);
  display: flex;
  height: 100px;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px rgba(0, 0, 0, 0.53) solid;
}
nav h1 {
  font-size: 50px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 150px;
}
.container-login {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

form h2 {
  margin: 0;
  padding-bottom: 20px;
}

form input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

form button {
  background-color: #1877f2;
  color: #fff;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}
form .enter {
  width: 80%;
}

form button:hover {
  background-color: #0a5bc1;
}
